version: '3.8'

services:
  canipay-fe:
    container_name: canipay-fe
    image: woosang0430/canipay-fe:latest
    environment:
      - CANIPAY_ENV_API_URL=${NEXT_PUBLIC_BASE_API_URL}
    ports:
      - 3000:3000
    restart: always
