.button {
  @apply select-none rounded-sm p-2 text-body-2 shadow-500 hover:opacity-80 active:opacity-60 disabled:opacity-40;
}

.button-text {
  @apply flex select-none items-center text-gray-950;
}

.tag-toggle {
  @apply cursor-pointer rounded-full border border-solid border-gray-400 px-3 py-[3px] text-caption-1 text-gray-950 hover:opacity-80 active:opacity-60 disabled:opacity-40 has-[:checked]:border-primary has-[:checked]:bg-primary has-[:checked]:text-white;
}
